#show-furniture,
#lock-furniture,
.floor-option-info-desc,
.left-menu-panel [hidden],
#show-furniture:checked ~ .main .furniture-embed {
    display: none;
}
.left-menu {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 290px;
    height: 100vh;
    transition: margin-left .3s;
}
#left-menu-toggle:checked ~ .left-menu {
    margin-left: -290px;
}
#left-menu-toggle:checked ~ .left-menu .left-menu-toggle {
    padding: 6px 6px 6px 7px;
}
#left-menu-toggle:checked ~ .left-menu .left-menu-toggle:before {
    transform: scalex(-1);
    display: block;
}
.left-menu-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    background-color: #d3d3d3;
    border-right: 1px solid black;
}
.left-menu-toggle:before {
    content: url('../images/left-menu-button.svg');
    display: block;
}
.left-menu-toggle {
    height: 16px;
    padding: 6px 3px 6px 10px;
    border: .5px solid #bec4cc;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 284px;
    margin: auto;
}
.left-menu-accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 30px;
    width: 290px;
    background-color: rgb(211, 211, 211);
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 10px 10px 10px 15px;
    border: 0;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.furniture-control-header {
    line-height: 30px;
    border-right: 1px solid black;
}
[aria-expanded="true"] + .left-menu-panel + .left-menu-accordion {
    border-top: 1px solid black;
}
.left-menu-accordion:focus {
    outline: none;
}
.left-menu-panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
    flex-grow: 0;
    height: 0;
}
[aria-expanded="true"] {
    background-color: #80858e;
    color: #f2f2f2;
}
[aria-expanded="true"] + .left-menu-panel {
    flex-grow: 1;
    height: auto;
}
.left-menu-accordion:after {
    content: url(../images/accordion-chevron.svg);
    height: 20px;
}
[aria-expanded="true"]:after {
    transform: rotate(90deg);
}
.furniture-tools {
    position: relative;
    min-height: 50px;
    padding: 15px;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.furniture-reset-button {
    border: none;
    background: none;
    font-size: 11px;
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 8px;
    display: flex;
    align-items: center;
}
.furniture-reset-button:before {
    content: url(../images/reset.svg);
    width: 12px;
    display: inline-block;
    margin-right: 4px;
}
.furniture-button {
    background: none;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    margin: 20px 20px 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.furniture-button [data-src] {
    margin: auto;
}
.furniture-button svg {
    overflow: visible;
}
.furniture-button:focus {
    outline: none;
}
.furniture-label {
    margin-top: 10px;
}
.furniture-panel {
    overflow: auto;
}
.furniture-panel-content {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0 0 20px;
}
.embed-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.embed-resize-button,
.embed-duplicate-button,
.embed-rotate-button,
.embed-bin-button {
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.embed-bin-button {
    top: -48px;
    left: -50px;
}
.embed-resize-button {
    top: -46px;
    right: -46px;
}
.embed-duplicate-button {
    bottom: -40px;
    left: -52px;
}
.embed-rotate-button {
    bottom: -40px;
    right: -50px;
}
.embed-bin-button:before {
    content: url(../images/bin-embed.svg);
    width: 38px;
    display: block;
}
.embed-resize-button:before {
    content: url(../images/left-right-arrow.svg);
    transform: rotate(-45deg);
    width: 33px;
    display: block;
}
.embed-rotate-button:before {
    content: url(../images/rotate-embed.svg);
    width: 38px;
    display: block;
}
.embed-duplicate-button:before {
    content: url(../images/duplicate.svg);
    width: 38px;
    display: block;
}
.embed-resize-button:focus,
.embed-duplicate-button:focus,
.embed-rotate-button:focus,
.embed-bin-button:focus,
.furniture-reset-button:focus {
    outline: none;
}
.furniture-reset-button:hover {
    color: #46bfda;
}
#show-furniture:checked + .left-menu .furniture-control-show-button:before,
.furniture-control-flip-horizontal-button:hover:before,
.furniture-control-flip-vertical-button:hover:before,
.embed-resize-button:before,
.floor-extra-option-button:before,
.furniture-reset-button:hover:before {
    filter: invert(62%) sepia(14%) saturate(4999%) hue-rotate(165deg) brightness(95%) contrast(85%);
}
.embed-menu + svg [fill="#FFFFFF"] {
    fill: #46bfda;
}
.furniture-control-show-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 36px;
    width: 30px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
    cursor: pointer;
}
.furniture-control-show-button:before {
    content: url(../images/eye.svg);
    margin: 3px;
    display: block;
}
.furniture-panel {
    scrollbar-color: #aeb3b9 #f1f1f1;
    scrollbar-width: thin;
}
/* width */
.furniture-panel::-webkit-scrollbar {
    width: 6px;
}
/* Track */
.furniture-panel::-webkit-scrollbar-track {
    background: #f1f1f1; 
}   
/* Handle */
.furniture-panel::-webkit-scrollbar-thumb {
    background: #aeb3b9; 
}
.floor-item-body,
.floor-list {
    padding: 0;
    list-style: none;
    margin-top: 16px;
}
.floor-item-summary::-webkit-details-marker {
    display: none
}
.floor-item-summary {
    font-weight: bold;
    font-size: 19px;
    list-style-image: none;
    display: flex;
    align-items: center;
    color: #80858e;
    cursor: pointer;
}
.floor-item-summary:focus {
    outline: none;
}
.floor-item-details {
    margin: 16px 12px;
    border-bottom: 1px solid #aeb3b9;
    padding: 0 0 16px;
}
.floor-option-item {
    display: flex;
}
.floor-option-button {
    width: 100%;
    line-height: 19px;
    margin: 5px 0;
    padding: 5px 5px 5px 15px;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
}
.floor-option-button:hover {
    background-color: #d8dadd;
}
.floor-option-info {
    display: flex;
    align-items: center;
    padding: 0 18px 0 8px;
    margin-right: -8px;
}
.floor-option-info:before {
    content: url(../images/info.svg);
}
.floor-option-item:hover .floor-option-info-desc {
    display: block;
}
.floor-option-info-desc {
    position: fixed;
    color: #000;
    background-color: #f2f2f2;
    box-shadow: 5px 3px 11px 0 rgba(0,0,0,.3);
    border-radius: 11px;
    border: 1px solid #bec4cc;
    margin: -2px 0 0 32px;
    padding: 10px;
    font-size: 12px;
    min-width: 100px;
    max-width: 300px;
    line-height: 20px;
}
.floor-option-info-list {
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 10px;
}
.floor-option-info-desc:before {
    position: absolute;
    top: 50%;
    left: -6px;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    box-sizing: border-box;
    border: 7px solid #000;
    border-color: transparent transparent #f2f2f2 #f2f2f2;
    box-shadow: -1px 2px 0 0 #ccc;
}
.floor-extra-option-button:before {
    content: url(../images/update-option.svg);
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.floor-extra-option-button {
    border: 0;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
}