.print-button,
.toolbar,
.zoom-control {
    display: none;
}
.header {
    border-bottom: none;
}
.floor-option:not(.excluded) {
    background: none;
    box-shadow: none;
}
.floor-option:not(.excluded):after {
    content: '';
}
