body {
    display: flex;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.floor-option,
.furniture-option,
.ruler,
#lock-text,
#left-menu-toggle,
#reverse,
#measure,
#interface,
#text-control-highlight-toggle,
#interface:checked ~ *,
#interface:checked ~ .right-menu .zoom-control {
    display: none;
}
.apply,
#interface:checked ~ .right-menu {
    display: flex;
}
#interface:checked ~ .right-menu .toolbar {
    height: 48px;
}
.hide-interface-button,
.mirror-button,
.ruler-button,
.text-button,
.reset-button {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #bec4cc;
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide-interface-button:hover,
.mirror-button:hover,
.ruler-button:hover,
.reset-button:hover {
    background-color: #d8dadd;
}
.text-button:before {
    content: url('../images/text.svg');
}
.ruler-button:before {
    content: url('../images/ruler.svg');
}
.hide-interface-button:before {
    content: url('../images/interface-off.svg');
}
#interface:checked ~ .right-menu .toolbar .hide-interface-button:before {
    content: url('../images/interface-on.svg');
    filter: invert(81%) sepia(54%) saturate(5710%) hue-rotate(165deg) brightness(94%) contrast(88%);
}
.reset-button:before {
    content: url('../images/reset.svg');
    width: 20px;
}
.mirror-button:before {
    content: url('../images/mirror.svg');
}
.mirror-button:active:before,
#measure:checked ~ .right-menu .toolbar .ruler-button:before,
#reverse:checked ~ .right-menu .toolbar .mirror-button:before,
.hide-interface-button:active:before,
.text-button:active:before,
.reset-button:active:before {
    filter: invert(81%) sepia(54%) saturate(5710%) hue-rotate(165deg) brightness(94%) contrast(88%);
}
.text-control-x-button:focus,
.text-control-bin-button:focus,
.print-button:focus,
.font-slider:focus,
.zoom-slider:focus,
.reset-button:focus {
    outline: none;
}
#measure:checked ~ .port {
    cursor: crosshair;
}
.furniture-selector,
.floor-selector,
.toolbar {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    cursor: pointer;
}
.toolbar {
    position: relative;
    margin: 14px 0px;
    background-color: #f2f2f2;
    border-radius: 4px;
    border: .5px solid #bec4cc;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
    opacity: .9;
    height: 240px;
    overflow: hidden;
}
.furniture-selector,
.floor-selector {
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 4px;
    left: 25px;
    top: 100px;
    width: 120px;
}
.furniture-selector {
    left: auto;
    top: 76px;
    width: 138px;
}
.furniture-option.selected {
    width: 190px;
    padding: 5px 15px;
}
.selected {
    position: absolute;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 5px 13px 5px 15px;
    width: 132px;
    top: -40px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.selected:after {
    content: url('../images/chevron.svg');
    filter: invert(56%) sepia(13%) saturate(221%) hue-rotate(180deg) brightness(90%) contrast(92%);
}
.selected:hover:after {
    filter: invert(81%) sepia(54%) saturate(5710%) hue-rotate(165deg) brightness(94%) contrast(88%);
}
.expand .selected:after {
    transform: rotate(90deg);
}
.furniture-option:hover,
.floor-option:hover {
    color: #29abe2;
}
.furniture-option:not(.selected):hover,
.floor-option:not(.selected):hover {
    background-color: #29abe2;
    color: white;
}
.furniture-selector.expand,
.floor-selector.expand {
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.floor-option {
    padding: 5px 5px 5px 15px;
}
.furniture-option {
    padding: 5px 10px;
}
.expand .furniture-option,
.expand .floor-option {
    display: flex;
}
.port {
    touch-action: none;
    user-select: none;
}
.view {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: visible;
}
.view svg {
    overflow: visible;
}
.view foreignObject {
    overflow: visible;
    width: 100%;
    height: 100%;
}
.view .foreignObject div {
    position: absolute;
}
.furniture-embed {
    display: inline-block;
}
.embed-menu button {
    transform: scale(var(--rz));
}
.text-field {
    position: absolute;
    display: inline-block;
    border: 2px solid #46bfda;
    padding: 17px 10px;
    margin: 0;
    text-align: center;
}
#reverse:checked ~ .port {
    transform: scaleX(1);
}
.mirror {
    position: fixed;
    top: 0;
}
.zoom-control {
    width: 48px;
    height: 240px;
    position: relative;
}
.zoom-control:after {
    content: attr(data-z) '%';
    position: absolute;
    top: 225px;
    left: 10px;
    font-size: 13px;
}
.zoom-range {
    transform: rotate(-90deg);
    transform-origin: left center;
    transform: rotate(-90deg) translate(-204px, 20px);
}
.font-slider,
.zoom-slider {
    cursor: pointer;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*required for proper track sizing in FF*/
    width: 200px;
}
.zoom-slider::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    background: #a9a9a9;
    border: none;
}
.zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: url('../images/slider-thumb.svg') no-repeat center;
    transform: rotate(90deg);
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
    margin-top: -9px;
}
.zoom-slider:focus::-webkit-slider-runnable-track {
    background: #a9a9a9;
}
.zoom-slider::-moz-range-track {
    width: 200px;
    height: 5px;
    background: #a9a9a9;
    border: none;
    border-radius: 3px;
}
.zoom-slider::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: url('../images/slider-thumb.svg') no-repeat center;
    transform: rotate(90deg);
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.zoom-slider::-ms-track {
    height: 5px;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 10px;
    /*remove default tick marks*/
    color: transparent;
}
.zoom-slider::-ms-thumb {
    margin-top: 0;
}
.zoom-slider::-ms-fill-lower {
    background: #29abe2;
}
.zoom-slider::-ms-fill-upper {
    background: #a9a9a9;
}
.ruler {
    position: fixed;
    pointer-events: none;
    align-items: center;
}
.foots {
    font-size: 24px;
    margin: 4px;
    white-space: nowrap;
}
.height {
    max-width: 0;
}
.width {
    max-height: 0;
    flex-direction: column;
}
.gauge {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #ff2f2f;
}
.gauge:before {
    content: '';
    display: block;
    background-color: #ff2f2f;
}
.height .gauge {
    height: 100%;
    left: -5px;
    min-width: 10px;
    border-left: 0;
    border-right: 0;
    justify-content: center;
}
.width .gauge {
    width: 100%;
    top: -5px;
    min-height: 10px;
    border-top: 0;
    border-bottom: 0;
    align-items: center;
}
.width .gauge:before {
    width: 100%;
    height: 3px;
}
.height .gauge:before {
    height: 100%;
    width: 3px;
}
.header {
    position: absolute;
    z-index: 1;
    padding: 0 25px;
    height: 48px;
    border-bottom: 1px #808080 solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}
.plan-name {
    font-weight: 500;
    font-size: 20px;
    margin-right: auto;
}
.plan-name:before {
    content: url('../images/plan-logo.svg');
}
.print-button:before,
.plan-name:before {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
.text-control-x-button,
.text-control-bin-button {
    padding: 4px;
}
.text-control-x-button,
.text-control-bin-button,
.print-button {
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}
.print-button:hover {
    opacity: .5;
}
.print-button:before {
    content: url('../images/print.svg');
}
.text-control-x-button:before,
.text-control-bin-button:before {
    content: url('../images/bin.svg');
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg) brightness(110%) contrast(101%);
    width: 23px;
    height: 23px;
    display: block;
}
.text-control-x-button:before {
    content: url('../images/x.svg');
    width: 15px;
    height: 15px;
}
.text-control-body:disabled .text-control-input .text-control-lock-button:before,
.left-menu-toggle:hover:before,
.text-control-lock-button:hover:before,
.text-control-reset-button:hover:before,
.text-control-x-button:hover:before,
.text-control-bin-button:hover:before {
    filter: invert(62%) sepia(14%) saturate(4999%) hue-rotate(165deg) brightness(95%) contrast(85%);
}
.right-menu {
    position: fixed;
    top: 0;
    right: 10px;
    width: 48px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-control {
    position: absolute;
    width: 290px;
    height: 360px;
    right: 60px;
}
.text-control-header {
    padding: 10px;
    background-color: #80858e;
    color: #fff;
    display: flex;
    align-items: center;
}
.text-control-body {
    margin: 0;
    display: inline-block;
    width: 290px;
    background-color: #f0f8ff;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid;
    font-size: 12px;
}
.text-control-textarea {
    box-sizing: border-box;
    max-width: 254px;
    max-height: 200px;
    min-width: 100%;
    min-height: 54px;
    margin-bottom: 10px;
}
.text-control-header-title {
    flex-grow: 1;
}
.font-slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 15px 0 30px;
    padding: 6px 0;
    background: transparent;
}
  .font-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #000000;
  }
  .font-slider::-webkit-slider-thumb {
    background: #000000;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  .font-slider:focus::-webkit-slider-runnable-track {
    background: #030303;
  }
  .font-slider::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: #000000;
  }
  .font-slider::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: #000000;
    cursor: pointer;
    margin-top: -7px;
  }
  .font-slider::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .font-slider::-ms-fill-lower {
    background: #000000;
    border: 1px solid #010101;
  }
  .font-slider::-ms-fill-upper {
    background: #000000;
    border: 1px solid #010101;
  }
  .font-slider::-ms-thumb {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    background: #000000;
    cursor: pointer;
    height: 1px;
    margin-top: -7px;
  }
  .font-slider:focus::-ms-fill-lower {
    background: #000000;
  }
  .font-slider:focus::-ms-fill-upper {
    background: #030303;
  }
.text-control-input {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 49%;
}
.text-control-toggle {
    display: block;
    width: 50px;
    height: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    margin: 5px 0;
    cursor: pointer;
}
.text-control-toggle:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    box-sizing: border-box;
    transform: translate3d(20%,15%,0);
}
#text-control-highlight-toggle:checked ~ .text-control-toggle {
    background-color: #29abe2;
    border-color: #46bfda;
}
#text-control-highlight-toggle:checked ~ .text-control-toggle:before {
    background-color: #fff;
    transform: translate3d(220%, 15%, 0);
    transition: transform 200ms linear;
}
.text-control-rotate-input-container {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}
.text-control-rotate-input {
    width: 45px;
    border: none;
}
.text-control-lock-button,
.text-control-reset-button {
    display: block;
    border: none;
    position: relative;
    background-color: #f2f2f2;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.text-control-rotate-title {
    display: flex;
    margin-bottom: 4px;
}
.text-control-rotate-title:before {
    content: url('../images/rotate.svg');
    margin-right: 4px;
}
.text-control-lock-button:before {
    content: url('../images/lock.svg');
}
.text-control-reset-button:before {
    content: url('../images/reset.svg');
    width: 15px;
    display: inline-block;
}
.text-control-reset-button:after {
    content: 'Reset';
    display: block;
}
.text-control-lock-button:after {
    content: 'Lock';
    display: block;
}
.text-control-body:disabled .text-control-input .text-control-lock-button,
.text-control-reset-button:hover,
.text-control-lock-button:hover {
    color: #46bfda;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, .3);
}
.text-field {
    cursor: pointer;
}
.text-control-rotate-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    width: 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: 0;
    margin: auto;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.3);
}
.text-control-rotate-button:active {
    box-shadow: 0 0 3px 2px rgba(0,0,0,.3);
}
@-moz-document url-prefix() {
    .text-control-rotate-button {
        padding: 0 0 2px;
        box-sizing: border-box;
    }
}
.main {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
}