
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    --custom-scale: 0;
}
button {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    border: 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -2px -4px 8px white, 2px  6px 6px rgba(0, 0, 0, 0.15);
}
.floor-selector {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    border-radius: 4px;
    position: absolute;
    left: 25px;
    top: 50px;
    cursor: pointer;
    width: 120px;
}
.floor-option:not([hidden]) {
    position: absolute;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 5px 13px 5px 15px;
    width: 132px;
    top: -40px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.floor-option:not([hidden]):after {
    content: url('images/chevron.svg');
    filter: invert(56%) sepia(13%) saturate(221%) hue-rotate(180deg) brightness(90%) contrast(92%);
}
.floor-option:not([hidden]):hover:after {
    filter: invert(81%) sepia(54%) saturate(5710%) hue-rotate(165deg) brightness(94%) contrast(88%);
}
.expand .floor-option:not([hidden]):after {
    transform: rotate(90deg);
}
.floor-option:hover {
    color: #29abe2;
}
.floor-option[hidden]:hover {
    background-color: #29abe2;
    color: white;
}
.floor-selector.expand {
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}
.floor-option {
    padding: 5px 5px 5px 15px;
}
.expand .floor-option {
    display: flex;
}
.view:not([hidden]) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.view svg {
    --default-scale: 1;
    transform: scale(calc(var(--default-scale) * (1 + var(--custom-scale) / 33)));
}


.zoom-control {
    position: fixed;
    right: -60px;
    bottom: 150px;
}
.zoom-control:after {
    counter-reset: variable calc(var(--custom-scale) + 100);
    content: counter(variable) '%';
    position: absolute;
    top: 120px;
    left: 92px;
    font-size: 13px;
}
.zoom-range {
    transform: rotate(-90deg);
}
.zoom-slider {
    cursor: pointer;
    /*removes default webkit styles*/
    -webkit-appearance: none;
    /*required for proper track sizing in FF*/
    width: 200px;
}
.zoom-slider::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    background: #a9a9a9;
    border: none;
}
.zoom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: url('images/slider-thumb.svg') no-repeat center;
    transform: rotate(90deg);
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
    margin-top: -9px;
}
.zoom-slider:focus {
    outline: none;
}
.zoom-slider:focus::-webkit-slider-runnable-track {
    background: #a9a9a9;
}
.zoom-slider::-moz-range-track {
    width: 200px;
    height: 5px;
    background: #a9a9a9;
    border: none;
    border-radius: 3px;
}
.zoom-slider::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: url('images/slider-thumb.svg') no-repeat center;
    transform: rotate(90deg);
    box-shadow: 0 1px 11px 2px rgba(0,0,0,.3);
}

.zoom-slider::-ms-track {
    height: 5px;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 10px;
    /*remove default tick marks*/
    color: transparent;
}
.zoom-slider::-ms-thumb {
    margin-top: 0;
}
.zoom-slider::-ms-fill-lower {
    background: #a9a9a9;
}
.zoom-slider::-ms-fill-upper {
    background: #29abe2;
}