.header {
    background-color: #f2f2f2;
    z-index: 1;
    padding: 0 10px;
}
.left-menu-accordion,
.left-menu-panel,
.text-button,
.desktop,
.floor-item,
.floor-reset-button,
.floor-option-info,
.floor-options-tab[data-count="0"]:after,
.floor-item-summary[data-count="0"]:after,
.zoom-control {
    display: none;
}
.right-menu {
    top: 42px;
    justify-content: flex-start;
}
.floor-options-tab,
.current-floor,
.floor-options-panel {
    display: block;
    pointer-events: auto;
}
.toolbar {
    height: 192px;
}
.left-menu {
    position: absolute;
    pointer-events: none;
    opacity: .93;
    z-index: 1;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.left-menu-accordion {
    background: #f2f2f2;
    width: 100px;
    height: 100px;
    border: 1px solid #bec4cc;
}
.floor-options-panel {
    overflow: hidden;
    width: 100vw;
    height: 350px;
    max-height: 0;
    background-color: #2f323a;
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    transition: max-height .3s;
}
.floor-item-summary {
    pointer-events: none;
    text-align: center;
    margin: -10px 0 10px;
    color: #fff;
}
.floor-options-tab:after,
.floor-item-summary:after {
    content: attr(data-count);
    display: inline-block;
    margin-left: 5px;
    background-color: #ee7623;
    width: 21px;
    height: 20px;
    letter-spacing: 1px;
    padding-left: 1px;
    padding-top: 2px;
    text-align: center;
    border-radius: 12px;
    position: relative;
    top: -10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.floor-options-tab[aria-expanded="true"] + .floor-options-panel {
    max-height: 350px;
}
.tab-content {
    position: relative;
    margin: 10px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}
.floor-item-body,
.floor-list {
    padding: 0;
    list-style: none;
}
.floor-switcher-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #80858e;
    margin-bottom: 10px;
    padding: 4px 0 0;
}
.floor-prev-button,
.floor-option-button,
.floor-next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.floor-prev-button,
.floor-next-button {
    padding: 5px;
}
.floor-options-tab:focus,
.floor-prev-button:focus,
.floor-next-button:focus {
    outline: none;
}
.floor-prev-button:disabled,
.floor-next-button:disabled {
    opacity: .5;
}
.floor-prev-button:before,
.floor-next-button:before {
    content: url(../images/accordion-chevron.svg);
    height: 20px;
    display: block;
    filter: invert(100%) sepia(53%) saturate(2%) hue-rotate(75deg) brightness(104%) contrast(101%);
}
.floor-prev-button:before {
    transform: scale(-1);
}
.floor-option-button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 5px 0;
    text-align: left;
}
.floor-option-item {
    position: relative;
    margin: 6px 0;
}
.floor-option-button:disabled + .floor-option-info {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.floor-option-button:disabled + .floor-option-info .submenu-button {
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.floor-option-button[aria-checked="true"] {
    background-color: #ee7623;
    padding: 5px 10px;
}
[aria-checked="true"] + .floor-option-info-desc {
    display: block;
}
.floor-option-button:disabled + .floor-option-info [aria-checked="true"] {
    z-index: 2;
    opacity: 1;
    display: block;
    position: absolute;
}
.floor-option-button:disabled + .floor-option-info [aria-checked="true"] {
    z-index: 2;
    display: block;
    border: none;
    background: transparent;
    opacity: 1;
    position: fixed;
    top: calc(100vh - 300px) !important;
    margin-left: 466px;
    padding: 12px 12px;
    width: 34px;
    height: 34px;
}
.floor-option-button:disabled + .floor-option-info [aria-checked="true"]:before {
    content: url(../images/x.svg);
}
.floor-item-body {
    overflow: auto;
    max-height: 280px;
}
.floor-option-info-desc {
    margin: 0;
    z-index: 1;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    top: calc(100vh - 300px) !important;
    transform: translateX(0) !important;
}
.floor-option-info-desc:after {
    content: '';
    margin: 10px -10px;
    width: 500px;
    height: 350px;
    display: block;
    position: absolute;
}
.floor-options-tab {
    position: relative;
    transition: background-color, border-color .3s;
}
.floor-options-tab:before {
    content: url(../images/options-tab.svg);
}
.floor-options-tab:after {
    position: absolute;
    top: -6px;
    right: 4px;
}
.floor-options-tab[aria-expanded="true"] {
    background-color: #2f323a;
    color: #ee7623;
    border-color: #2f323a;
}
.plan-name {
    font-size: 18px;
}
.plan-name:before {
    margin-right: 10px;
}
.print-button {
    width: 50px;
}
.print-button:before {
    margin-right: 0;
}


    